<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disks</title>
</head>
<body>

<div>
    <form action="{% url 'album_list' %}" method="post" target="_blank">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Rechercher">
    </form>
</div>

<h1>Albums</h1>

<table border="1" style="border-collapse:collapse">
    {% for album in albums %}
    <tr>
        <td height="50">
            <a href="{% url 'album_info' album.id %}" target="_blank">{{ album.Title }}</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>