<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disks</title>
</head>
<body>

<h1>{{ album }}</h1>
<p><b>Artiste: </b>{{ album.artist }}</p>
<p><b>Pistes</b></p>

<table border="1" style="border-collapse:collapse">
    <tr>
        <th>Nom</th>
        <th>Compositeur</th>
        <th>Duree</th>
        <th>Bytes</th>
        <th>Prix Unitaire</th>
    </tr>
    {% for track in track_list %}
        <tr>
            <td>
                <p>{{ track.Name }}</p>
            </td>
            <td>
                <p>{{ track.Composer }}</p>
            </td>
            <td>
                <p>{{ track.Milliseconds }}</p>
            </td>
            <td>
                <p>{{ track.Bytes }}</p>
            </td>
            <td>
                <p>{{ track.UnitPrice }}</p>
            </td>
        </tr>

    {% empty %}}
        <div class="text-center">
            <p>No track in the album</p>
        </div>
    {% endfor %}
</table>

</body>
</html>