<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disks</title>
    <style>
        table, tr, td, th
        {
            border-collapse: collapse;
            border: 1px solid gray;
            padding-left: 10px;
            padding-right: 30px;
        }
    </style>
</head>
<body>

<h1>{{ album }}</h1>
<p><b>Artiste: </b>{{ album.artist }}</p>
<p><b>Pistes</b></p>

<table>
    <tr style="height: 50px">
        <th>Nom</th>
        <th>Compositeur</th>
        <th>Duree</th>
        <th>Bytes</th>
        <th>Prix Unitaire</th>
    </tr>

    {% for track in track_list %}
        <tr>
            <td>
                <p>{{ track.Name }}</p>
            </td>
            <td>
                <p>{{ track.Composer }}</p>
            </td>
            <td>
                <p>{{ track.Milliseconds }} ms</p>
            </td>
            <td>
                <p>{{ track.Bytes }}</p>
            </td>
            <td>
                <p>{{ track.UnitPrice }} $</p>
            </td>
        </tr>

    {% empty %}}
        <div>
            <p>No track in the album</p>
        </div>
    {% endfor %}
</table>

</body>
</html>