<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recherche</title>
</head>
<body>

{% if send %} Your message has been sent! {% endif %}

<table border="1" style="border-collapse:collapse">
    {% for album in result %}
    <tr>
        <td height="50">
            <a href="{% url 'album_info' album.id %}" target="_blank">{{ album.Title }}</a>
        </td>
    </tr>
    {% empty %}}
        <div class="text-center">
            <p>There is no album with this keyword.</p>
        </div>
    {% endfor %}
</table>

</body>
</html>